*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&family=MuseoModerno:wght@400;800&display=swap'); */

html {
    font-size: 62.5%;
    font-family: 'MuseoModerno', sans-serif;
    font-weight: 500;
}

body {
    position: relative;
}

header {
    background-color: #fff;
    box-shadow: 0px 2px 4px 1px rgba(76, 224, 210, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

::selection {
    color: #22AAA1;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5rem;
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
}

.header > h1 {
color: #136F63;
font-weight: 500;
font-size: 2.6rem;
}

.header > a {
    border: none;
    font-size: 1.6rem;
    color: #fff;
    background-color: #22AAA1;
    padding: 1rem;
    border-radius: 4px;
}

.header > a:hover {
    cursor: pointer;
}

section {
    position: relative;
    max-width: 80%;
    margin: 12rem auto 4rem;
}