/* @import 'header.css'; */

section {
    /* width: 90%; */
    /* margin: 5rem auto 0; */
}

section > h1 {
    color: rgba(19, 111, 99, 1);
    font-family: 'MuseoModerno', sans-serif;
    font-size: 3rem;
    text-align: center;
}


form {
margin-top: .5rem;
}

label {
    text-transform: uppercase;
    display: block;
    color: rgba(19, 111, 99, 1);
    ;
    font-size: 2rem;
}

form div {
margin-top: 1rem;
}

input, textarea {
    width: 100%;
    padding: 5px 8px;
    border: 1px solid rgba(34, 170, 161, 1);
    box-shadow: 0px 4px 4px 0px rgba(34, 170, 161, 0.25);
    margin: 1rem 0;
    font-size: 1.4rem;
    outline: none;
}

#article {
    resize: none;
    height: 40vh;
}

form a {
    display: inline-block;
    background-color: rgba(34, 170, 161, 1);
    color: #fff;
    font-size: 1.6rem;
    padding: 10px 20px;
    border-radius: 4px;
    text-align: left;
    border: none;
} 

@media only screen and (max-width: 1200px) {
    html {
        font-size: 50%;
    }

    
    .header {
        max-width: 90rem;
        }    

        section {
            max-width: 50%;
        }
    
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 40%;
    }

    .header {
        max-width: 70rem;
    }   

    section {
        max-width: 50%;
    }

}

@media only screen and (max-width: 320px) {
    html {
        font-size: 30%;
    }

    .header {
        max-width: 45rem;
    }  
    
    section {
        max-width: 50%;
    }

}