section {
    /* width: 90%; */
    /* margin: 4rem auto 2rem; */
}

section > h1 {
    text-align: center;
    font-size: 1.8rem;
    color: rgba(34, 170, 161, 1);
    font-family: 'MuseoModerno',sans-serif;
}

h6 {
    margin-top: 10px;
    font-weight: 400;
}

section p, h6 {
    display: block;
    font-family: 'Murecho', sans-serif;
    font-size: 1.6rem;
    line-height: 1.4;
}

.btn {
    font-size: 1.6rem;
    text-transform: uppercase;
    text-align: right;
    margin-top: 4rem;
}

.btn a {
    color: rgba(34, 170, 161, 1);
    ;
    border: 4px solid rgba(34, 170, 161, 1);
    border-radius: 4px;
    padding: 1rem 3rem;
}

.btn a:not(:last-child) {
    margin-right: 4rem;
}

@media only screen and (max-width: 1200px) {
    html {
        font-size: 50%;
    }

    
    .header {
        max-width: 90rem;
        }    

        section {
            max-width: 50%;
        }
    
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 40%;
    }

        .header {
            max-width: 70rem;
        }   

        section {
            max-width: 50%;
        }
    

        .btn {
            text-align: center;
            font-size: 1.6rem;
        }
        
        .btn a {
            border: 2px solid rgba(34, 170, 161, 1);
            border-radius: 2px;
            padding: 8px 15px;
        }
        
        .btn a:not(:last-child) {
            margin-right: 2rem;
        }
}

@media only screen and (max-width: 320px) {

    html {
        font-size: 30%;
    }

    .header {
        max-width: 45rem;
    }  
    
    section {
        max-width: 50%;
    }

}